<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9d9a4ca4-c3f1-463a-9fea-a6dcc8f4f63c/resourceGroups/rg-cmccullougheastus2/providers/Microsoft.ContainerRegistry/registries/crcmccullougheastus2991372611389</ResourceId>
    <ResourceName>crcmccullougheastus2991372611389</ResourceName>
    <ResourceGroup>rg-cmccullougheastus2</ResourceGroup>
    <Subscription>cmccullough</Subscription>
    <RegistryUrl>https://crcmccullougheastus2991372611389.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b77b5999-69c8-844a-b53e-524141bf5d84</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>